<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Student Sidebar Fragment -->
<aside class="w-64 bg-white h-screen p-4 shadow-lg" th:fragment="sidebar">
    <ul class="space-y-2">
        <li>
            <a th:href="@{/student/dashboard}" class="block py-2 px-4 hover:bg-blue-100 rounded transition duration-300">
                <i class="fas fa-home mr-2"></i> Dashboard
            </a>
        </li>
        <li>
            <a th:href="@{/student/my-courses}" class="block py-2 px-4 hover:bg-blue-100 rounded transition duration-300">
                <i class="fas fa-book-open mr-2"></i> My Courses
            </a>
        </li>
        <li>
            <a th:href="@{/student/courses}" class="block py-2 px-4 hover:bg-blue-100 rounded transition duration-300">
                <i class="fas fa-search mr-2"></i> Browse Courses
            </a>
        </li>
        <li>
            <a th:href="@{/student/progress}" class="block py-2 px-4 hover:bg-blue-100 rounded transition duration-300">
                <i class="fas fa-chart-line mr-2"></i> My Progress
            </a>
        </li>
        <li>
            <a th:href="@{/student/assignments}" class="block py-2 px-4 hover:bg-blue-100 rounded transition duration-300">
                <i class="fas fa-tasks mr-2"></i> Assignments
            </a>
        </li>
        <li>
            <a th:href="@{/student/certificates}" class="block py-2 px-4 hover:bg-blue-100 rounded transition duration-300">
                <i class="fas fa-award mr-2"></i> Certificates
            </a>
        </li>
        <li>
            <a th:href="@{/student/discussions}" class="block py-2 px-4 hover:bg-blue-100 rounded transition duration-300">
                <i class="fas fa-comments mr-2"></i> Discussions
            </a>
        </li>
    </ul>
</aside>
</body>
</html>